<footer class="site-footer section--compact">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4">
        <a class="navbar-brand d-flex align-items-center gap-2 text-white mb-3" href="../pages/index.html">
          <span class="brand-mark"><i class="bi bi-lightning-charge-fill"></i></span>Sport Store
        </a>
        <p>Premium ecommerce frontend for sports products.</p>
      </div>
      <div class="col-6 col-lg-2"><a class="d-block mb-2" href="../pages/shop.html">Shop</a><a class="d-block" href="../pages/contact.html">Contact</a></div>
      <div class="col-6 col-lg-2"><a class="d-block mb-2" href="../pages/about.html">About</a><a class="d-block" href="../pages/faq.html">FAQ</a></div>
    </div>
  </div>
</footer>
